:root{
    --bg-dark: #0a0a0a;
    --accent-blue: #4db8ff;
    --btn-blue: #1e14e6;
    --text-white: #ffffff;
}
body{
    font-family: 'Arial Black' , Georgia , sans-serif;
    background-color: var(--bg-dark);
    color: var(--text-white);
}
.logo-group{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('bottom.png');
    -webkit-mask-image : linear-gradient(to bottom, black 70%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.logo{
    font-family: 'Luckiest Guy';
    font-size: 60px;
    background: linear-gradient(180deg , #00C8FF 0%, #ffffff 100%);
    -webkit-background-clip: text ;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: #0a0a0a;
    


}
.btn-login{
    background: linear-gradient(180deg , #00C8FF 0%, #ffffff 100%);
    color: #0a0a0a;
    padding: 0 20px;
    border: none;
    height: 37px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    

}
.hero-section{
    height: 100vh;
    width: 100%;
    min-height: 600px;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    overflow: visible;
    padding-bottom: 150px;
    position: relative;
    z-index: 1;
 }
 .hero-content{
    margin-top: 10vh;
    text-align: center;
 }
 .title-top{
    font-family: 'Luckiest Guy' , cursive;
    font-size: 82px;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(180deg , #00C8FF 0%, #ffffff 100%);
    -webkit-background-clip: text ;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    line-height: 0.9;
    margin: 0;
    margin-bottom: 15px;
 }
 .title-bottom{
    font-family: 'Luckiest Guy' , cursive;
    font-size: 82px;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    margin-top: -15px;
    line-height: 0.9;
    margin-bottom: 5px;
 }
 .account-prompt{
    font-family: 'Abhaya Libre' , serif;
    font-weight: 600;
    font-size: 38px;
    line-height: normal;
    letter-spacing: 0;
    text-align: center;
    color: #c8c8c8;
    margin-top: 20px;
    margin-bottom: 10px;
 }
 .cta-input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin-top: 15px;
 }
 .cta-input input{
    width: 812px ;
    height: 73px;
    background: #dedede ;
    opacity: 50%;
    color: rgba(255 ,255, 255, 0,26);
    border-radius: 5px 0 0 5px;
    font-family: 'Luckiest Guy';
    font-size: 24px;
 }
 .btn-get-started{
    width: 312px;
    height: 73px;
    background-color: #003cff;
    color: #ffffff;
    border: none;
    border-radius: 0 5px 5px 0;
    font-family: 'Luckiest Guy' , cursive;
    font-size: 24px;
 }
.feature-section{
    position: relative;
    overflow: visible;
    margin-top: -180px;
    z-index: 10;
}
.curve-border{
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: -2px;
    position: relative;
    top: 0;
    z-index: 10;
    margin-bottom: -1px;
}
.section-title{
    position: relative;
    z-index: 20;
    margin-top: -1500px;
    color: #ffffff;
    text-align: center;
    font-family: 'Luckiest Guy';
    font-size: larger;
}
.reasons-container{
    position: relative;
    margin-top: -1400px;
    z-index: 30;
    display: flex;
    justify-content: center;
}
.main-footer{
    background-image: url('bottom.png');
    -webkit-mask-image : linear-gradient(to top, black 70%, transparent 100%);
    mask-image: linear-gradient(to top, black 70%, transparent 100%);
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 100px;
    width: 100%;
    min-height: 300px;
    padding: 60px 5%;
    z-index: 50;
}
.footer-columns{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: white;
}