
.question{
  text-align: center;
}

.flex {
  display: none;
}

.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    animation: slideInUp 3s cubic-bezier(0.23, 1, 0.32 ,1) both ;
}
/*introducing slideInUp*/
@keyframes slideInUp{
   0% {
        opacity: 0;
        transform: translateY(60px); /*el masafa li ydjoz 3liha w houa tale3*/
    }
    100% {
        opacity: 1;
        transform: translateY(0); /*bch ki ytla3 ykon stable*/
    }
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}
.card{
  padding-left: 10px;
  height: 50PX;
  width: 300px;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  transition: 400ms;
  background-color: #dbd4d4;
  
 
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}





/*effect ta3 ki tselectionih ykber*/
.cards .card:hover {
  transform: scale(1.1, 1.1);
}

/*effect ta3 lokhrin ki maytsiliksyoniwch ysgharo*/
.cards:hover > .card:not(:hover) {
 transform: scale(0.9, 0.9);
}





/*section ta3 search bar*/

.premium-wrapper {
  
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  justify-items: center;
  /*
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #ddd;
  */
}
.Title{
    margin: 20px auto;
}
.search-barr {
  display: flex;
  background-color: #f0f0f0;
  border: 2px solid transparent;
 
  padding: 15px;
  
  width: 350px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border: 1px solid #ddd;
  margin: auto;

}

.search-barr input {
  flex: 1; /*all the remaining space will go to it*/
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;

}

.star-icon {
  cursor: pointer;
  font-size: 22px;
  color: #ccc;
  transition: transform 0.3s, color 0.3s;
}


.expanded .star-icon {
  color: #ffae00;
  transform: rotate(72deg) scale(1.2);
}


.premium-content {
  max-height: 0;
  opacity: 0;
  padding: 0 20px;
  transition: all 0.5s ease;
  text-align: center;
}

.expanded .premium-content {
  max-height: 400px; 
  opacity: 1;
  padding: 20px;
}

.price-tag {
  font-size: 24px;
  font-weight: bold;
  color: #d4af37;
  margin: 15px 0;
}

.upgrade-btn {
  background: #ffae00;
  border: none;
  color: white;
  padding: 10px 25px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}





/*from the website of the last year , swiper1*/


     /* Home Section (Swiper) */
        #home {
            position: relative;
            height: 100vh;
            overflow: hidden;
            margin-bottom: 200px;
        }


        /*
        .swiper  {
            width: 100%;
            height: 100vh;
            position: absolute;
        }
        .swiper-slide {
            position: relative;
        }
       */

 .swiper  {
  
  height: 52rem;
  padding: 2rem 0;
  position: relative;
 
  /*overflow: hidden;*/
 
}

        .swiper-slide img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
            filter: brightness(70%);
        }
       


        /*caption of slides*/
        .swiper-slide .slide-caption {
            position: absolute;
            bottom: 10rem;
            left: 5rem;
            color: #c47e7e;
            text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
        }

        .swiper-slide .slide-caption h1 {
            font-size: var(--h1-font);
           font-weight: var(--font-semi-bold);
           
            margin-bottom: 1rem;
        }

        .swiper-slide .slide-caption p {
            font-size: 1.8rem;
            font-weight: 400;
           
        }


/*kyn problem fl code ta3 el animations*/
 .animation{
          animation: slideIn 1s ease-out forwards;
            opacity: 0;
            transform: translateY(20px);
            transition: opacity 0.6s ease-out , transform 0.6s ease-out;
        }
        .animation.active{
            opacity: 1;
            transform: translateY(0);
        }





          /*effect of swiper button */
        .swiper .swiper-button-next {
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }
        
        .swiper-button-next,
        .swiper-button-prev {
            color: #ffffff;
            /*padding: 2rem;*/
            height: 4rem;
            width: 4rem;
            background: rgba(223, 218, 218, 0.3);
            border-radius: 50%;
            transition: background 0.3s ease;
            align-items: center;
        }
        .swiper-button-prev::after,
        .swiper-button-prev::before{
            font-size: 2rem;
        }
        .swiper-button-next::after,
        .swiper-button-next::before{
            font-size: 2rem;
        }
        .swiper-button-next:hover,
        .swiper-button-prev:hover {
            background: rgba(111, 111, 111, 0.5);
        }

        .swiper-pagination-bullet {
            background: #fff;
            opacity: 0.7;
            width: 10px;
            height: 10px;
        }

        .swiper-pagination-bullet-active {
            background: #c3bdbd;
            opacity: 1;
        }



        /*effect of swiper button */
        .swiper .swiper-button-next {
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

               
        /* show the button when hovering over images*/
        .swiper:hover .swiper-button-next{
            opacity: 1;
        }
        

        .swiper .swiper-button-prev {
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }
        
        .swiper:hover .swiper-button-prev{
            opacity: 1;
        }



/*second swiper*/
.showme{
  display: none;
}
.lol{
  display: block;
}


.container {
  max-width: 800px; 
  margin: 20px auto;   
  padding: 40px 0;
  
  /*
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto;*/
}

.swiper  {
  
  height: 52rem;
  padding: 2rem 0;
  position: relative;
 
  /*overflow: hidden;*/
 
}

/* styling the important slide*/
.tranding-slide {

width: 28rem; 
height: 30rem;  
border-radius: 5px;
 

  /*width: 37rem;
  height: 42rem;*/
  position: relative;
  background: #e0dbdb;
  border-radius: 2rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow:hidden;
   
  transition: all 0.3s ease-in-out;
}

/* non active slides */
.swiper-slide:not(.swiper-slide-active) {
 filter: blur(1px);  
   
  
}

/*img inside the card */
.tranding-slide-img img {
position: relative;
 z-index: 10000;
/*z index is for that the onclick works*/
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
  
}

/* content of the card*/
.tranding-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}


.tranding-slide-content-bottom {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: #fff;
}

/* button*/
.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-arrow {
  background: #fff;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  left: 40% !important;
  transform: translateX(-50%);
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.1));
}

.slider-arrow ion-icon {
  font-size: 2rem;
  color: #222222;
}

.swiper-button-next.slider-arrow {
  left: 60% !important;
}

/* (Pagination) */
.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem !important;
}

.swiper-pagination-bullet {
  height: 0.8rem;
  width: 0.8rem;
  background: #222222;
}

.swiper-pagination-bullet-active {
  background: #ff4b2b;
  width: 2.5rem;
  border-radius: 1rem;
}

.smallsection{

  display: flex;
  gap: 50px;
}

.try {
  
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.try {
  --primary-color: #111;
  --hovered-color: #c84747;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
}

.try p {
  margin: 0;
  position: relative;
  font-size: 20px;
  color: var(--primary-color);
}

.try::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

.try.ss p::before {
  position: absolute;
  content: "skip";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}
.try.bb p::before{
  position: absolute;
  content: "before";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

.try:hover::after {
  width: 100%;
}

.try:hover p::before {
  width: 100%;
}

.try.ss:hover svg {
  transform: translateX(4px);
  color: var(--hovered-color);
}

.try.bb:hover svg{
  transform: translateX(-4px);
  color: var(--hovered-color);
}

.try svg {
  color: var(--primary-color);
  transition: 0.2s;
  position: relative;
  width: 15px;
  transition-delay: 0.2s;
}


/*rania search bar*/
.search-container.change{
    background: rgb(132, 132, 178);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    backdrop-filter: blur(10px);
    width: 100vh;
}

.search-bar input {
    background: transparent;
    border: none;
    color: white;
    flex-grow: 1;
    outline: none;
    font-size: 1rem;
}

/* Toggle Switch */
.toggle-switch {
    background: #111;
    border-radius: 30px;
    padding: 4px;
    display: flex;
}

.toggle-btn {
    background: transparent;
    border: none;
    color: #666;
    padding: 6px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.8rem;
    transition: 0.3s;
}

.toggle-btn.activee {
    background: rgb(94, 94, 233);
    color: white;
}

.go-btn {
    background: green;
    border: none;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 15px rgb(130, 122, 122);
}



.search-container{
  display: none;
}

.search-container.change .ai{
    background: rgb(83, 141, 87);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    backdrop-filter: blur(10px);
    width: 100vh;
}